Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, markdown

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier {staged_files} --write
    markdown:
      glob: '*.md'
      run: npx markdownlint {staged_files} --fix

remove backend workflows
  .github/workflows/assertions.yml
  .github/workflows/publish.yml
Due: prettier

add links to all github repos and packagist
  docs/docs/other/internal-documentation-for-wds.md
Due: prettier, markdown

update links on homepage
  docs/src/components/Plugins.js
Due: none

actually, point at stable tags
  backend/composer.json
Due: prettier

fix typo
  docs/src/components/Plugins.js
Due: none

Update mounted volumes
  .gitignore
  docker-compose.yml
Due: prettier

Remove AcfMediaText and AcfBlockMediaText components
  frontend/components/blocks/ACF/AcfBlockMediaText/AcfBlockMediaText.js
  frontend/components/blocks/ACF/AcfBlockMediaText/index.js
  frontend/components/blocks/index.js
  frontend/components/organisms/AcfMediaText/AcfMediaText.js
  frontend/components/organisms/AcfMediaText/AcfMediaText.module.css
  frontend/components/organisms/AcfMediaText/AcfMediaText.stories.mdx
  frontend/components/organisms/AcfMediaText/index.js
  frontend/functions/wordpress/blocks/displayBlock.js
Due: none

dependency bump
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: prettier

update lighthouse workflow
  .github/workflows/lighthouse.yml
Due: prettier

add manual trigger
  .github/workflows/lighthouse.yml
Due: prettier

remove URL
  .lighthouserc.js
Due: none

pass configPath
  .github/workflows/lighthouse.yml
Due: prettier

#723 Replace WORDPRESS_PREVIEW_SECRET with PREVIEW_SECRET_TOKEN
  docs/docs/backend/index.md
  docs/docs/frontend/env-variables.md
Due: prettier, markdown

dependency bump
  docs/package-lock.json
  docs/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/sitemap.xml
  package-lock.json
  package.json
Due: prettier

normalize and update engines
  docs/package.json
  frontend/package.json
  package.json
Due: prettier

Update README.md
  README.md
Due: prettier, markdown

simplify linting
  .editorconfig
  .eslintignore
  .eslintrc.js
  .github/.lighthouserc.js
  .github/workflows/assertions.yml
  .github/workflows/lighthouse.yml
  .markdownlint.json
  .markdownlintignore
  .phpcs.xml
  .prettierignore
  .prettierrc.js
  .stylelintignore
  .stylelintrc.js
  docs/docs/contributing.md
  docs/lefthook-docs.yml
  docs/package.json
  frontend/lefthook-frontend.yml
  frontend/package.json
  lefthook.yml
  package-lock.json
  package.json
Due: prettier, markdown

(docs) dependency bump
  docs/package-lock.json
  docs/package.json
Due: prettier

(frontend) dependency bump
  frontend/package-lock.json
  frontend/package.json
Due: prettier

update assertions scripts
  .github/workflows/assertions.yml
Due: prettier

update paths
  .github/workflows/assertions.yml
Due: prettier

use npx
  .github/workflows/assertions.yml
Due: prettier

use npx on tests
  .github/workflows/assertions.yml
Due: prettier

ignore new stylelint rules
  frontend/.stylelintrc.js
Due: none

bulk formatting
  frontend/components/molecules/AlgoliaSearch/AlgoliaSearch.module.css
  frontend/components/molecules/Navigation/Navigation.module.css
Due: none

specifiy string quotes value
  frontend/.stylelintrc.js
Due: none

exit on error
  frontend/package.json
Due: prettier

eslint globbing update
  .github/workflows/assertions.yml
Due: prettier

(chore) update wds banner
  README.md
Due: prettier, markdown

remove .babelrc
  frontend/.babelrc
Due: none

move babel transform to jest.config.js
  frontend/jest.config.js
Due: none

enable swc minify
  frontend/next.config.js
Due: none

Update preview.js
  frontend/pages/api/preview.js
Due: none
