Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, markdown

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier {staged_files} --write
    markdown:
      glob: '*.md'
      run: npx markdownlint {staged_files} --fix

don't need node/cache for lighthouse
  .github/workflows/lighthouse.yml
Due: prettier

remove matrix
  .github/workflows/lighthouse.yml
Due: prettier

add composer support
  .github/dependabot.yml
Due: prettier

publish storybook to github pages
  .github/workflows/publish.yml
Due: prettier

fix spelling
  .github/workflows/publish.yml
Due: prettier

add public storybook link
  README.md
Due: prettier, markdown

update how it works images
  docs/static/img/nextjs-wordpress-starter-frontend-backend-graphic-vertical.webp
  docs/static/img/nextjs-wordpress-starter-frontend-backend-graphic.png
  docs/static/img/nextjs-wordpress-starter-frontend-backend-graphic.webp
Due: none

use webp logo
  docs/docusaurus.config.js
  docs/static/img/wds-logo-60x60.webp
Due: none

add browserlist
  docs/package.json
Due: prettier

rename to index-old
  docs/src/pages/old-index.md
Due: prettier, markdown

make sure buttons are always centered
  docs/src/css/custom.css
Due: none

intial commit of new homepage content and components
  docs/src/components/Features.js
  docs/src/components/Features.module.css
  docs/src/components/Hero.js
  docs/src/components/Hero.module.css
  docs/src/components/HowItWorks.js
  docs/src/components/HowItWorks.module.css
  docs/src/components/Plugins.js
  docs/src/components/Plugins.module.css
  docs/src/pages/index.js
  docs/src/pages/index.module.css
Due: none

finish styling plugins section
  docs/src/components/Plugins.js
  docs/src/components/Plugins.module.css
Due: none

add getting started section
  docs/src/components/GetStarted.js
  docs/src/components/GetStarted.module.css
  docs/src/pages/index.js
Due: none

fix plugin url
  docs/src/components/Plugins.js
Due: none

fix icon test
  frontend/tests/jest/components/atoms/Icon.test.js
Due: none

add github stars shield
  docs/src/components/Hero.js
  docs/src/components/Hero.module.css
  docs/src/components/HowItWorks.js
Due: none

fix extensions url
  backend/composer.json
Due: prettier

make link color darker
  frontend/styles/demo.css
Due: none

add aria and labels
  frontend/components/molecules/AlgoliaSearch/components/SearchPlaceholder.js
  frontend/components/molecules/Navigation/Navigation.js
  frontend/components/organisms/Header/Header.js
Due: none

update assertion rules
  .lighthouserc.js
Due: none

Load script early
  backend/plugins/wds-headless-blocks/inc/blocks.php
Due: none

Split hex handling into two filter callbacks
  backend/plugins/wds-headless-blocks/js/blocks.js
Due: none

Bump plugin version
  backend/plugins/wds-headless-blocks/wds-headless-blocks.php
Due: none

Bump pristas-peter/wp-graphql-gutenberg dependency
  backend/composer.json
Due: prettier

Re-apply PR 606 changes
  frontend/functions/next-api/wordpress/gravityForms/processGfFieldValues.js
Due: none

Downgrade pristas-peter/wp-graphql-gutenberg dependency
  backend/composer.json
Due: prettier

Create new var
  frontend/functions/wordpress/gravityForms/insertGfFormEntry.js
Due: none

Test debug log
  backend/plugins/wds-headless-gravityforms/inc/wp-graphql.php
Due: none

dependency bump
  frontend/package-lock.json
  frontend/package.json
Due: prettier

Debug
  backend/plugins/wds-headless-gravityforms/inc/wp-graphql.php
Due: none

Add check for url
  backend/plugins/wds-headless-gravityforms/inc/wp-graphql.php
Due: none

Remove debug
  backend/plugins/wds-headless-gravityforms/inc/wp-graphql.php
Due: none

Bump GraphQL GF not Gutenberg
  backend/composer.json
Due: prettier

remove theme
  backend/themes/README.md
  backend/themes/wds-headless-theme/composer.json
  backend/themes/wds-headless-theme/functions.php
  backend/themes/wds-headless-theme/index.php
  backend/themes/wds-headless-theme/screenshot.png
  backend/themes/wds-headless-theme/style.css
  backend/themes/wds-headless-theme/theme.json
Due: prettier, markdown

remove root level composer files
  composer.json
  composer.lock
Due: prettier

use packagist to bring in plugins. update wordpress seo
  backend/composer.json
Due: prettier

update documentation to reflect new composer.json
  docs/docs/backend/algolia.md
  docs/docs/backend/gravity-forms.md
  docs/docs/backend/index.md
  docs/docs/backend/menus.md
  docs/docs/backend/wp-config.md
  docs/docs/contributing.md
  docs/docs/frontend/index.md
  docs/docs/learn/manage-plugins-with-composer.md
  docs/docs/learn/wordpress-theme.md
  docs/docs/other/internal-documentation-for-wds.md
Due: prettier, markdown
